
{% if App.with('Session').hasFlash('toDoItemError') %}
    <div class='callout alert'>{{ App.with('Session').getFlash('toDoItemError') }}</div>
{% endif %}


<h1>Create a To Do</h1>
<form action='/' method='post'>
    {{ App.with('Data').getCSRFTokenInput }}
    <input type='text' placeholder='Title...' value='{{ item.title }}' name='title' required/>
    <textarea placeholder='Description' name='description'>{{ item.description }}</textarea>
    <input class='button' type='submit' value='Create'/>
</form>

<hr>

<div class='row'>
    <div class='small-4 columns'>
        <h2>Your To Dos</h2>
    </div>
    <div class='small-8 columns meta-info text-right'>
        <div>{{ completed_total }} Completed</div>
        <div>{{ toDos|length }} In Progress</div>
    </div>
</div>

<br></br>

<ol>
{% for item in toDos %}
    <li class='to-do-item'>
        <div class='row'>
            <div class='small-8 columns'>
                <div class='created-on'>Created On : {{ item.created_on_pretty }}</div>
            </div>
            <div class='small-4 columns button-group'>
                <form action='/{{ item.id }}/delete' method='post'>
                    {{ App.with('Data').getCSRFTokenInput }}
                    <input class='button alert' type='submit' value='X' title='Delete this To Do Item'/>
                </form>
                <form action='/{{ item.id }}/complete' method='post'>
                    {{ App.with('Data').getCSRFTokenInput }}
                    <input class='button success' type='submit' value='Completed' title='Mark this To Do Item Completed'/>
                </form>
            </div>
        </div>
        <form action='/{{ item.id }}' method='post'>
            {{ App.with('Data').getCSRFTokenInput }}
            <div class='row'>

                <div class='small-1 columns'>
                    <label class='middle'>Title</label>
                </div>
                <div class='small-11 columns'>
                    <input type='text' placeholder='Title...' value='{{ item.title }}' name='title' required title='Click to edit the title'/>
                </div>

            </div>

            <div class='row'>

                <div class='small-1 columns'>
                    <label class='middle'>Description</label>
                </div>
                <div class='small-11 columns'>
                    <textarea placeholder='Description' name='description' title='Click to edit the description'>{{ item.description }}</textarea>
                </div>

            </div>

            <input class='button' type='submit' value='Update'/>
        </form>
    </li>
{% endfor %}
</ol>

{% if toDos|length == 0 %}
    <strong>You have nothing to do! Yippie!!</strong>
{% endif %}
