<fieldset>
    <legend>Login</legend>

    {% if App.with('Session').hasFlash('failedLogin') %}
        {{ View.callout('Invalid Login Credentials!') }}
    {% endif %}

    {% if App.with('Session').hasFlash('profileDeleted') %}
        {{ View.callout('Your account has been deleted!') }}
    {% endif %}

    <form method='post' action='/login'>
        {{ App.with('Data').getCSRFTokenInput }}
        <label>Email</label>
        <input type='text' name='email' required/>
        <label>Password</label>
        <input type='password' name='password' required/>
        <button class='button' type='submit' value='submit'>Login</button>
    </form>

</fieldset>
