<fieldset>

    <legend>Signup</legend>

    {% if flash.failedSignup %}
        <div class='callout alert'>{{ flash.failedSignup }}</div>
    {% endif %}

    <form method='post' action='/signup'>
        <label>Name</label>
        <input type='text' name='name' required/>
        <label>Email</label>
        <input type='text' name='email' required/>
        <label>Password</label>
        <input type='password' name='password' required/>

        <input class='button' type='submit' value='Signup'/>

    </form>

</fieldset>
