/* ------------ DEFAULTS ------------------*/

body,html {
height:100%;
}

body {
margin:0 auto;
}

#body-wrapper {
min-height:100%;
height:auto !important;
height:100%;
margin:0 auto 200px;
position:relative;
}

body.disco-seo #header {
position:absolute;
top:0;
}

#header {
width:100%;
margin-top:0px;
}

#body {
position:absolute;
width:100%;
padding-top:20px;
}

#footer {
width:100%;
}

#footer,#footer-spacing {
height:200px;
}

body p {
margin:2px;
padding:2px 0px;
}

form {
text-align:left;
}

textarea {
border:1px solid #D0FBFF;
border-radius:4px;
}
textarea:focus {
border:3px solid #D0FBFF;
}

.stats {
margin-bottom:20px;
}

.stats span {
font-size:32px;
color:#222;
}
.stats div {
color:#DDD;
}

.button.hide {
display:none !important;
}

.to-do {
padding:10px;
margin-bottom:10px !important;
border-radius:2px;
box-shadow:0px 0px 6px -2px #DDD;
position:relative;
display:block;
}

.to-do .do {
margin-left:20px;
}

.to-do .do.green:before {
content:'\2713';
position:absolute;
left:10px;
font-size:18px;
color:#46E87C;
}

.to-do .do.red:before {
content:'\2717';
position:absolute;
left:10px;
font-size:18px;
color:#FFACEC;
}


.to-do .time {
padding:8px 0px;
}
.to-do .time p {
color:#2C2C2C;
margin:0;
font-size:12px;
padding:2px 0px;
}

.to-do .button.finished.green {
display:none !important;
}

.to-do .button.delete {
background-color:#FFACEC;
}
.to-do .button.finished {
background-color:#46E87C;
}
